*{
    margin: 0;
    padding: 0;

}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #737070e0;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin: 15px;
   
}

label {
    display: block;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

div.form-groups{
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b20909;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
}

#precioSeguro {
    font-weight: bold;
}

